@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "您已完成電子郵件變更";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/LoginRegister.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="form-group row d-flex justify-content-center">
        <div class="col-4">
            <h1>您已完成電子郵件變更</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>

</body>
</html>
