@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "確認密碼重設";
}

<center>
    <h1>
        您的密碼已重新設定
        <p></p>
        <a class="btn btn-outline-primary col-md-2 col-lg-2 col-2" id="login" asp-area="Identity" asp-page="/Account/Login">
            會員登入
        </a>
    </h1>
</center>
