@model List<Prj_CSharpGo.Models.WildnessCampingContext>
@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <a class="btn btn-success" href="/PShopCart/Index">去購物車</a>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
    <h1 class="display-4">放一些介紹、商品分類</h1>
</div>
