@model List<Prj_CSharpGo.Models.Camp>;
@{
        ViewData["Title"] = "露營場地";
}

    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">營位資訊</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Book Cover Deisgn
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->
        <!-- ======= Blog Single ======= -->
        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 position-relative">
                        <div class="about-img-box">
                            <img src="~/img/grass.PNG" alt="" class="img-fluid">
                        </div>
                        <div style="height: 150px; width: 300px; background-color: #F2FFF2 " class="sinse-box">
                            <h3 class="sinse-title">
                                A區草地
                            </h3>
                        </div>
                    </div>

                    <div class="margin-top-30 margin-left-100">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                營位資訊
                            </h3>
                        </div>

                        <article>
                            <h2 class="directions">
                                本區型態：草地 營位 <br>
                                規格： 6 公尺* 8 公尺 <br>
                                營位數： 5 帳 <br>
                                <br>
                                收費標準：<br>
                                平日營位一帳 1000元<br>
                                假日營位一帳 1100元<br>
                                <br>
                                說明：<br>
                                ※ 車停營位旁。<br>
                                ※ 水槽2個、電源電箱6個，建議自備5-10米延長線。<br>
                                ※ 另與B區公用5個水槽。<br>
                                ※ 營位由營主現場調配。<br>
                            </h2>
                        </article>
                    </div>


                    <div class="col-md-12 margin-top-30">
                        <div class="row">
                            <div class="col-md-6 col-lg-7">
                                <img src="~/img/grassbathroom.PNG" alt="" class="img-fluid">
                            </div>

                            <div class="col-md-6 col-lg-5 section-md-t5">
                                <div class="title-box-d">
                                    <h3 class="title-d">
                                        衛浴設備
                                    </h3>
                                </div>

                                <article>
                                    <h2 class="directions">
                                        A、B區共用衛浴廁所<br>
                                        男生衛浴廁所3間(坐式*1 蹲式*2)、小便斗3座<br>
                                        女生衛浴廁所3間(坐式*1 蹲式*2)<br>
                                    </h2>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
  