@{
    ViewData["Title"] = "Login";
    Layout = "EmployeeLayout";
}

<h1>員工登入</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Employee/Login">

            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label" for="EmployeeId">帳號</label>
                <input class="form-control" type="number" data-val="true" data-val-required="帳號不可空白" id="EmployeeId" name="EmployeeId" value="1001" />
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label class="control-label" for="EmployeePassword">密碼</label>
                <input class="form-control" type="password" data-val="true" data-val-required="密碼不可空白" id="EmployeePassword" name="EmployeePassword" value="employee1001" />
                <span class="text-danger " data-valmsg-for="EmployeePassword" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="確定" class="btn btn-primary" />
                <a href="/Employee/Login" class="btn btn-danger">取消</a>
            </div>

        </form>
    </div>
</div>