@model Prj_CSharpGo.Models.Camp;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comfirm</title>
</head>
<body>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script>

    //$.ajax({
    //    url: "/Campreserve/GetJsonFromFile",
    //    type: "GET",//請求方式為get
    //    dataType: "json", //返回資料格式為json
    //    data: { path: "~/Content/json/Holiday.json" },
    //    async: false,//是否同步
    //    success: function (data) {//請求成功完成後要執行的方法
    //        //dosometing....
    //    },
    //    error: function () {
    //        console.log("error");
    //    }
    //})




    </script>
</body>
</html>
