@using Prj_CSharpGo.Models.ViewModels

@model RecipeProduct

@{
    ViewData["Title"] = "Create";
}

<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" action="/Recipe/Create" data-ajax='false'>
            @*<form class="col-md-9 m-auto" method="post" action="/Recipe/Edit" role="form" data-ajax='false'>*@
            @*上傳圖片 JS在最下面*@
            <img id="output" style="max-width: 300px;max-height: 400px;" class="form-control mt-1" />
            <input type="file" name="Img" accept="image/*" onchange="loadFile(event)">
            <br> <br> <br>
            @*上傳圖片*@
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">RecipeName</label>
                    <input type="text" class="form-control mt-1" name="RecipeName" placeholder="RecipeName">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">CreateDate</label>
                    <input type="text" class="form-control mt-1" name="CreateTime" placeholder="CreateTime">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">料理時間Cooking time</label>
                    <input type="text" class="form-control mt-1" name="CookingTime" placeholder="CookingTime">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">準備時間時間PreparationTime</label>
                    <input type="text" class="form-control mt-1" name="PreparationTime" placeholder="PreparationTime">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputsubject">份量Yield</label>
                    <input type="text" class="form-control mt-1" name="Yield" placeholder="Model.Yield">
                </div>
            </div>


            @*食材清單*@
            <a id="ass_add">ADD</a>
            <a id="ass_del">Del</a>
            <div id="ass_area">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputsubject">FOOD_Description</label>
                        <input type="text" class="form-control mt-1" name="Description" placeholder="Description">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputsubject">Product</label>
                        <select>
                            <option value="0">食材選擇</option>
                            @{ foreach (var item in Model.Products)
                                {
                                    <option value="@item.ProductId">@item.ProductName </option>
                                }
                            }
                        </select>
                        <input type="text" class="form-control mt-1" name="ProductID[]" placeholder="ProductID">
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label for="inputmessage">01.備料Preparation</label>
                <textarea class="form-control mt-1" name="Preparation" placeholder="Preparation" rows="8"></textarea>
            </div>
            <div class="mb-3">
                <label for="inputmessage">02.烹煮步驟Step</label>
                <textarea class="form-control mt-1" name="Step" placeholder="Preparation" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>





@*End Contact*@
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

