@page
@model IndexModel
@{
    ViewData["Title"] = "會員檔案";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/LoginRegister.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="form-group row d-flex justify-content-start">
        <div class="row d-flex justify-content-start d-inline col-8 d-inline">
            <h4  class="col-2 align-content-center">會員檔案</h4>
            <!--送出表單-->
            <button id="update-profile-button" type="submit" class="btn btn-outline-primary col-2 align-content-center">全部確認</button>
        </div>
    </div>

    <hr />

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <div class="row">
        <div class="col-md-6">

            <form id="profile-form" method="post">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@


                <!--使用者帳號-->
                <div class="form-group row d-flex justify-content-start">
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card col-1"></i>
                                </div>
                            </div>
                            <input asp-for="Username" class="form-control" disabled />
                            <div class="input-group-append">
                                <span class="input-group-text text-success font-weight-bold">✓已驗證</span>
                            </div>
                        </div>
                    </div>
                </div>


                <!--電話號碼-->
                <div class="form-group row d-flex justify-content-start">
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-phone col-1"></i>
                                </div>
                            </div>
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <!-- ======================= Email 模組 ============================ -->
                <h4>管理電子郵件</h4>
                <hr />

                <div class="form-group">
                    <label asp-for="Email"></label>

                    @if (Model.IsEmailConfirmed)
                    {
                        <!--已驗證電子郵件-->
                        <div class="form-group row d-flex justify-content-start">
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-envelope col-1"></i>
                                        </div>
                                    </div>
                                    <input asp-for="Email" class="form-control" disabled />
                                    <div class="input-group-append">
                                        <span class="input-group-text text-success font-weight-bold">✓已驗證</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <!--寄送電郵驗證信-->
                        <div class="form-group row d-flex justify-content-start">
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-phone col-1"></i>
                                        </div>
                                    </div>
                                    <input asp-for="Email" class="form-control" disabled />
                                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">寄送驗證信</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <!--變更電子郵件-->
                <div class="form-group row d-flex justify-content-start">
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-phone col-1"></i>
                                </div>
                            </div>
                            <input asp-for="Input1.NewEmail" class="form-control" />
                            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-outline-primary">變更Email</button>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>