@model Prj_CSharpGo.Models.SearchAllViewModel

@{
    ViewData["Title"] = "搜尋結果";
}


<h1>您搜尋了「@Model.SearchString」</h1>

<div class="container">
    <div class="row col-md-4 col-lg-4">

        <section class="product-row">
            <!-- 商品列表 -->
            <section class="col-md-12">
                <section class="products-content">
                    @{ foreach (var item in Model.Products)
                        {
                            <div class="row" style="padding: 15px 0;">
                                <div class="col-lg-3 col-md-4 col-xs-6">
                                    <div class="product-col">
                                        <div class="image">
                                            <a href="/products/m-1324" title="@item.ProductName"><img src="" alt="product" class="img-responsive"></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="/products/m-1324">@item.ProductName</a></h4>
                                            <div class="description">
                                            </div>
                                            <div class="price">
                                                <ins>NT$@item.UnitPrice</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </section>
            </section>
        </section>
    </div>
</div>